<div id='main_menu'>
  <input type='button' class='ui-block-a' data-theme="b" data-icon='flat-menu' id='all_tasks_button' value='All Tasks' \>
  <input type='button' class='ui-block-a' data-theme="b" data-icon='flat-checkround' id='new_task_button' value='New Task' \>
  <input type='button' class='ui-block-a' data-theme="b" data-icon='arrow-l' id='exit_app_button' value='Exit' \>
</div>
