<fieldset class="ui-grid-solo">
  <div class="ui-field-contain">
    <label for="fname">Name:</label>
    <input type="text" name="fname" id="task_name">
    <label for="lname">Status:</label>
    <input type="text" name="lname" id="task_status">
    <label for="email">Complete by:</label>
    <input type="text" name="email" id="task_complete_by">
    <input type='button' class='ui-block-a' data-theme="b" data-icon='arrow-l' id='add_task_button' value='Add Task' \>
  </div>
</fieldset>
